body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: rebeccapurple;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.completed {
    text-decoration: line-through;
    color: red;
}


